# SCADA dataset
packages/Scada/CARE_To_Compare/
packages/Scada/data-09-00138-v2.pdf

# Image dataset
experiments/Images/DTU - Drone inspection images of wind turbine/
experiments/Images/DTU-annotations/

.venv/
__pycache__/
apps/wind_rag_webapp/backend/data/uploads/
apps/wind_rag_webapp/backend/data/faulty_runs/
apps/wind_rag_webapp/backend/__pycache__/
packages/Faulty_Image_Describtion/__pycache__/
experiments/evalution/runs_eval/DJI_*
experiments/evalution/runs_eval/DJI_*/**
