# SCADA dataset
Scada/CARE_To_Compare/
Scada/data-09-00138-v2.pdf

# Image dataset
Images/DTU - Drone inspection images of wind turbine/
Images/DTU-annotations/

.venv/
__pycache__/
wind_rag_webapp/wind_rag_webapp/backend/data/
wind_rag_webapp/wind_rag_webapp/backend/__pycache__/
Faulty_Image_Description/__pycache__/
Faulty_Image_Description_runs_eval/DJI_*
Faulty_Image_Description_runs_eval/DJI_*/**